[submodule "week04/day03/upgradeable-nft-marketplace/lib/forge-std"]
	path = week04/day03/upgradeable-nft-marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week04/day03/upgradeable-nft-marketplace/lib/openzeppelin-contracts-upgradeable"]
	path = week04/day03/upgradeable-nft-marketplace/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "week04/day03/upgradeable-nft-marketplace/lib/openzeppelin-contracts"]
	path = week04/day03/upgradeable-nft-marketplace/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week04/day04/ctf/lib/forge-std"]
	path = week04/day04/ctf/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week04/day05/lib/forge-std"]
	path = week04/day05/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week04/day05/lib/chainlink-brownie-contracts"]
	path = week04/day05/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "week04/day05/lib/openzeppelin-contracts"]
	path = week04/day05/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week05/day02/lib/forge-std"]
	path = week05/day02/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
